<html>
    <head><center><U><H3>ITM Gwalior</H3></U></center>
    </head>
    <body bgcolor="Aqua">
        <h2>Our Major Courses are</h2>
        
        <OL>
            <Li>Electronics</Li>
            <Li>Computer science</Li>
            <Li>Mechanical</Li>
            <Li>Bio Chem</Li>
        </OL>

        <p>Computer Science is the study of computers and computational systems, focusing on both theoretical 
            principles and practical techniques to solve problems and create efficient, innovative solutions. </p>
        
        <p>Computer Science is the study of computers and computational systems, focusing on both theoretical 
            principles and practical techniques to solve problems and create efficient, innovative solutions. </p>
            
    </body>